* {
  box-sizing: border-box;
}

body {
  margin: 20 20;
  border: solid balck;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 100px; 

}

div#map{

    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    overflow: hidden;

}

h1{
  text-align: center; 
}
#map {
  height: 50vh;
  width: 90vw;

}

.marker {
  /* background-image: url('http://i.imgur.com/WbMOfMl.png'); */
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}




